div(class='container')
  div
    acme-navbar(creationDate='main.creationDate')

  div(class='row')
    div(class='col-md-12')
      div(class='well centrado')
        h3(id='mensaje-entrada') Seleccione una opción para ver el listado
        
    a(href='/profiles')      
      div(
        class='col-sm-6 col-md-6 col-xs-12'
      )
        div(class='thumbnail centrado main-panel')
          i(class='fa fa-5x fa-gears')
          div(class='caption')
            h3 Usuarios
    
    a(href='/home')
      div(
        class='col-sm-6 col-md-6 col-xs-12 '
      )
        div(class='thumbnail centrado main-panel')
          i(class='fa fa-5x fa-group')
          div(class='caption')
            h3 Clientes      
